

<div class="col-md-6 offset-md-3 mb-5">
  <h3> {{'Create_Deduction'|translate}} </h3>
<form (ngSubmit)="onSubmit()" #createEmployeeform="ngForm" novalidate>
    <!-- <div class="form-group">
      <label> DeductionId</label>
      <input type="text" class="form-control" id="deductionId" [(ngModel)]="deduction.deductionId" name="deductionId">
    </div> -->

    <div class="form-group">
      <label> {{'Deduction_Name'|translate}}</label>
      <input type="text" class="form-control"
      id="deductioname" [(ngModel)]="deduction.deductionName" name="deduction"
      required
      >
    </div>
      <div class="form-group">
        <label for="Type" class="text-center"> {{'Deduction_Type'|translate}}</label>
        <select name="deduType" id="deduType" class="form-control"
         [(ngModel)]="deduction.deductionType" required>
          <option value="0">{{'Amount'|translate}}</option>
          <option value="1">{{'Percentage'|translate}}</option>
          <option value="2">{{'Month'|translate}}</option>
        </select>

      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!createEmployeeform.valid">{{'Submit'|translate}}</button>

  </form>
</div>
