<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <i class="far fa-comments"></i>
    <span class="badge badge-danger navbar-badge">{{count}}</span>
  </a>



  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right" >
    <a href="#" class="dropdown-item" *ngFor="let user of currentUser">
      <!-- Message Start -->


      <div class="media">

        <div class="media-body" >
          <h3 class="dropdown-item-title">
            {{'Detail_Info'|translate}}
            <span class="float-right text-sm text-danger"
              ><i class="fas fa-star"></i
            ></span>
          </h3>
          <p class="text-sm">{{'Name'|translate}}: {{user.userFirstName}}   {{user.userLastName}} {{'Is_added'|translate}}</p>
          <p class="text-sm ">
            <i class="far fa-clock mr-1"></i>
          </p>
        </div>
      </div>
      <!-- Message End -->
    </a>


  </div>
</li>
