<div class="col-md-6 offset-md-3">
  <h3> {{'Create_Position'|translate}} </h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label> {{'Position_Name'|translate}}</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="position.positionName" name="firstName" placeholder="{{'Position_Name'|translate}}">
    </div>

    <div class="form-group">
      <label>{{'Position_Salary'|translate}}</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="position.positionSalary" name="lastName" placeholder="{{'Position_Salary'|translate}}">
    </div>

    <button class="btn btn-success" type="submit">{{'Submit'|translate}}</button>

  </form>
</div>
